@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model GradeCalculatorModel;

<!--Form takes grade inputs and sends them to Grades.js-->
<h2>Grade Calculator</h2>e
<form>
    <label>Assignments:</label>
    <input id="assignments" asp-for="Assignments" /><br />

    <label>Group Project:</label>
    <input id="group" asp-for="Group" /><br />

    <label>Quizzes:</label>
    <input id="quizzes" asp-for="Quizzes" /><br />

    <label>Midterm Exam:</label>
    <input id="midterm" asp-for="Midterm" /><br />

    <label>Final Exam:</label>
    <input id="final" asp-for="Final" /><br />

    <label>INTEX:</label>
    <input id="intex" asp-for="Intex" /><br />

    <label id="finalGrade"></label>
    <br />

    <input id="btnSend" type="button" value="Submit" /><br />

    <div asp-validation-summary="All"></div>

</form>

<!--Link to js files-->
<script src="js/Grades.js"></script>