@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My First Website!";
}

<!--Title, snowboarding picture, and other info-->
<h1>Josh</h1>
<img id="snowbboarding" width="200" src="img/snowboarding.JPG" />
<p>
    I am hoping to grow to love coding more in this class. I initially did not love coding but
    I started to enjoy it a lot more last semester while using Python. However, I felt that much of my coding was done without a great sense
    of organization. I am also hoping to learn how to best organize my program into something that runs efficiently and could be worked by
    others with ease.
</p>
<br />

<p>Jobs I am most interested in pursuing:</p>
<ul>
    <li>Business Intelligence</li>
    <li>Technology Consulting</li>
    <li>Software Developer</li>
</ul>
